name: Publish
on:
  release:
    types: [created]
jobs:
  test:
    uses: ./.github/workflows/test.yml
  build_and_publish:
    needs: test
    runs-on: ubuntu-latest
    permissions:
      id-token: write
    steps:
      - uses: actions/checkout@v4
      - name: Install uv
        uses: astral-sh/setup-uv@v5
      - run: echo "SOURCE_DATE_EPOCH=$(git log -1 --pretty=%ct)" >> $GITHUB_ENV
      - run: uv build
      - uses: pypa/gh-action-pypi-publish@release/v1
        with:
          packages-dir: ./dist
